:root {
    --main-bg-color: pink;
    --active-text: #100F0F;
    --form-bg-color: #ECF1F7;
    --form-bg-color-hover:  #E4EBF3;
    --form-bg-color-active: #fff;
    --un-active-text: rgba(90, 88, 88, 0.80);
    --form-border-color: #9D9D9D;
    --form-border-color-invalid: #FF0000;
    --group-form-bg-color: #F6F7F9;
    --sekection: #FFF4BB;
    --button-good-active: #2196F3;
    --background-unactive-form: #ECF1F7;
  }