@import url(color.css);


h1 {
  color: var(--active-text, #100F0F);
  font-family: Roboto;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

section {
  background-color: var(--group-form-bg-color, #F6F7F9);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

select {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

/*определение стиля таблицы*/
table {
  border-collapse: collapse;
  width: 100%;
}


th,
td {

  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;

}

tr:hover {
  background-color: #ff00ea;
}

tr {
  background-color: #96D4D4;
  border-bottom: 1px solid #ff11b0;
}

caption {
  text-align: left;
}
/*конец определения стиля таблицы*/


.h2-title {
  color: var(--active-text, #100F0F);
  /* h2 */
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.block-form {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  border-radius: 1rem;
  background: #FFF;

  /* тень блока */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25), 0px 8px 0px 0px rgba(0, 0, 0, 0.74) inset;
}

.wrap-h2-title {
  display: flex;
  padding: 0.5rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*плавающая форма*/

.did-floating-label-content {
  position: relative;
  /*нормальный поток документа. Можно задать сдвиг*/
  margin-bottom: 20px;
  /*font-size: 30px;*/
}

.did-floating-label {
  color: var(--un-active-text, rgba(90, 88, 88, 0.80));
  /*кастомное свойство. Второй аргумент - резервное значение*/

  /* заголовок в форме */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;

  position: absolute;
  /*объект удаляется из нормального потока документа
  и относительно родителя задаются смещения
  left
  top
  */
  pointer-events: none;
  /*должно ли реагировать на события указателя
  при наведении чтобы курсор не менял своего состояния*/
  left: 0.7rem;
  top: 0.7rem;
  padding: 0.25rem 0.25rem;
  /* По вертикали | По горизонтали */
  background: var(--form-bg-color, #ECF1F7);
  /*верхние 2 свойства нужны чтобы типо
   казалось что рамка прерывается*/
   transition: 0.2s ease all;
   -moz-transition: 0.2s ease all;
   -webkit-transition: 0.2s ease all;
  /*просто свойства для совместимости браузеров*/
}

.did-floating-input {

  /*display: block;*/
  width: 36.0625rem;
  height: 2.875rem;
  padding: 0.5rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  /*фактор сжатия flex-элемента.*/

  background: var(--form-bg-color, #ECF1F7);
  color: var(--active-text, #100F0F);
  /*цвет текста*/
  border:none;
  border-radius: 0.5rem;
  box-sizing: border-box;
}


.did-floating-input:hover{
  background: var(--form-bg-color-hover,#E4EBF3);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.did-floating-input:hover~.did-floating-label {
  background: var(--form-bg-color-hover,#E4EBF3);
}


.did-floating-input:focus { 
  outline: none;
  border: 1px solid var(--form-border-color, #9D9D9D);
  background: var(--form-bg-color-active, #fff);
}

.did-floating-input:focus~.did-floating-label {
  /*когда нажал чтобы писать*/
  top: -0.7rem;
  font-size: 0.725rem;
  color:var(--active-text, #100F0F);
  background: var(--form-bg-color-active, #fff);
}
.did-floating-input:focus~.did-floating-input::placeholder{
  color: rebeccapurple;
}

.did-floating-input:not(:placeholder-shown)~.did-floating-label {
  /*когда пишешь и в форме появляется текст*/
  top: -0.7rem;
  font-size: 0.725rem;
  color:var(--active-text, #100F0F);
}

.did-floating-input::placeholder {
color: transparent;
/*потом нужно чтобы плейсхолдер появился*/
/* unAktiveText */
font-family: Roboto;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}


/*конец плавающая форма*/

/*настроить специфичность для разных браузеров*/


